#row-col{
    text-align: center;
}

.login-left,.login-right{
    margin-top:240px;
}

.btn{
    width:100px;
}

#main-section{
    height:100vh;
    background-color:rgb(201, 196, 196);
}

.login-text{
    text-align: left;
    width: 50%;
    display: inline-block;
}

span,p{
    color: white;
}

@media screen and (max-width: 992px) {

}

#cont{
    background-image: linear-gradient(black,rgb(201, 196, 196));
}
